:root {
    --clr-gray-light: #d7dfe2;
    --clr-gray-med: #616b74;
    --clr-gray-dark: #414b56;
    --clr-link: #4d97b2;
    --clr-popular: #ef257a;
    --clr-technology: #651fff;
    --clr-psychology: #e85808;
    --main-radius: 0.5rem;
    --main-padding: 5px;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
body {
    margin: 2rem;
    color: var(--clr-gray-dark);
    background-color:#757c77;
   /*  background-color: #08192b; */
}
nav, header{  
    box-shadow: 0px 2px 10px var(--clr-gray-light); 
    margin: 0;
    margin-bottom: 1px;
    padding: 0;
    background:#666b6a;
    /* background-color:#2bc48a; */
    overflow: hidden;
    color: white;
    border-radius: var(--main-radius);
}

header {
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    
}

.header {
    border-radius: var(--main-radius);
    display: inline-block;
    align-items: center;
    box-shadow: 0px 2px 10px var(--clr-gray-light); 
    
    padding: 0.2rem 0.3rem;
}
.header:hover {
    transform:scale(1.05);
    box-shadow: 0px 20px 40px 5px var(--clr-gray-light);
}

nav ul {
    list-style-type: none;
    
}

nav ul li {
    float: right;
    border-right:1px solid #bbb;
    
}
nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
}

nav li a:hover {
    transform:scale(1.05);
    box-shadow: 5px 20px 40px 5px #111;
    cursor: pointer;
}
/* ######## General Card ######## */
.card {
    display: grid;
    height: 100%;
    padding: 10px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 1.8fr 0.5fr;
    grid-template-areas:
        "header header header header"
        "body1 body1 body2 body2"
        "footer footer footer footer";
    grid-gap: 0.2rem;
    
    
}
/* ######## First Sub Card ######## */

.card-banner {
    grid-area: header;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    position: relative;
}

.category-tag {
    font-size: 2rem;
    font-weight: 500;
    color: white;
    padding: 0.5rem 1.3rem 0.5rem 1rem;
    text-transform: uppercase;
    position: absolute;
    top: 2rem;
    border-radius: 0 2rem 2rem 0;
    background-color: var(--clr-popular);
    width: 200px;
    height: 50px;
}

.banner-img {
    object-fit: cover;
    height: 15rem;
    width: 100%;
    border-radius :var(--main-radius);
}

/* ######## 2. Sub Card ######## */

.card-content-img {
    grid-area: body1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    height:45rem;
}

.content-img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  /*   margin-bottom: 5rem; */
    display: block;
    border-radius: 1rem;
   /*  box-shadow: 2px 5px 40px 20px var(--clr-gray-light); */
    box-shadow: 0px 0px 30px 5px var(--clr-gray-light, 0.8);  
}
.card-body {
    margin-left: 11rem;
    margin-top: 1rem;
    border: 1px solid white;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--main-radius);
    padding: 0.5rem;
    box-shadow: 0px 0px 30px 5px var(--clr-gray-light, 0.8);  

}
.blog-hashtag {
    font-size: 1rem;
    font-weight: 500;
    color: whitesmoke;
}
.blog-title {
    line-height: 1.5rem;
    margin: 0.7rem 0 0.5rem;
    color: whitesmoke;
}
.blog-description {
    color: whitesmoke;
    font-size: 0.9rem;
}

/* ######## 3. Sub Card ######## */

.card-content {
    grid-area: body2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.card-content h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    font-weight: 900;
}

.card-content p {
    text-indent: 50px;
    font-family: cursive;
    font-size: 1.5rem;
}
.big::first-letter {
    font-size: 250%;
    font-family: 'Dancing Script', cursive;

}
/* ######## Last Sub Card ######## */

.card-profile {
    margin: 5rem 0 0 0;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    float: left;
    position: relative; 
}
.card-profile-img {
    float: left;
}
.profile-img {
    width: 200px;
    height: 200px;
    object-fit:cover;
    border-radius: 20%;
    box-shadow: 0px 0px 30px 5px var(--clr-gray-light, 0.8); 
 
}

.card-profile-info {
    margin-left: 15rem;
}

.profile-name {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;

}
.profile-followers {
    text-indent: 50px;
    color: whitesmoke;
    font-size: 1.1rem;
}

/* ######## Footer ######## */

footer {
    background-color: #414b56;
    display: grid;
    height: 100%;
    padding:24px 0 0 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.2fr 0.05fr;
    grid-template-areas:
        "services footerabout company"
        "icons icons icons"
        "copyright copyright copyright";
    grid-gap: 0.2rem;
    color:#f0f9ff;
    background-color:#282d32;
    border-radius: var(--main-radius);
}

footer h3 {
    margin-top: 0;
    margin-bottom: 0.8rem;
    font-weight:bold;
    font-size:1rem;
    text-align: center;
}

footer ul {
    padding: 0;
    list-style-type:none;
    line-height:1.6;
    font-size:0.8rem;
    margin-bottom: 0;
    
}

footer ul a {
    color:inherit;
    text-decoration:none;
    opacity: 0.6;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    
}

footer ul a:hover {
    opacity: 0.9;
}

/* ######## 1. Sub Footer ######## */

.service {
    grid-area: services;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

/* ######## 2. Sub Footer ######## */

.footerabout {
    grid-area: footerabout;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

/* ######## 3. Sub Footer ######## */

.company {
    grid-area: company;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: justify;
    text-justify: inter-word;
    padding:0 2rem 1rem 0;
}

.company p {
    opacity: 0.6;
    margin-bottom: 0;
    text-indent: 50px;
    
}

/* ######## 4. Sub Footer ######## */

.icons {
    grid-area: icons;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
}

.gen {

    max-width: 46px;
    max-height: 46px;
    margin-right: 5rem;
    opacity: 0.3;

}

.gen:hover {
    opacity: 1;
}

.fb-img {
    margin-left: 5.4rem;
}

/* ######## last Sub Footer ######## */

.copyright {
    grid-area: copyright;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    color: #e85808;
    text-align:center;
    padding-top:1rem;
    opacity:0.6;
    font-size:0.9rem;
    margin-bottom:0;
}

